Repository LASTRADA-Software/Lightweight, changes with the labels that .github/labeler.yml gives for each.
All labels: CI pipeline, CMake, documentation, benchmark, tests, ddl2cpp, Core API, Data Binder, Data Mapper, Query Builder, CLI

[Github CI] Attempting to fix labeler action
  .github/workflows/labeler.yml
Labels: CI pipeline

Add some docs
  docs/CMakeLists.txt
  docs/usage.md
  src/Lightweight/DataBinder/SqlVariant.hpp
  src/Lightweight/SqlQuery/Core.hpp
  src/Lightweight/SqlQuery/Migrate.hpp
  src/Lightweight/SqlQuery/Update.hpp
  src/Lightweight/SqlStatement.hpp
  src/benchmark/benchmark.cpp
Labels: documentation, benchmark, Core API, Data Binder, Query Builder

[Github CI] don't run ctest when building via clang/gcc directly
  .github/workflows/build.yml
Labels: CI pipeline

[Github CI] move valgrind testing to individual DBMS testing
  .github/workflows/build.yml
Labels: CI pipeline

[Github CI] Disable ODBC driver tracing for now
  .github/workflows/build.yml
Labels: CI pipeline

[Github CI] tiny cleanup
  src/tests/QueryBuilderTests.cpp
Labels: tests

[Github CI] Don't do --error-exitcode=1 for now, as we may have a problem with MS SQL driver (?)
  .github/workflows/build.yml
Labels: CI pipeline

[QueryBuilder] Migration: Add AlterColumnType() and a new way to test query builder
  src/Lightweight/SqlQuery/Migrate.cpp
  src/Lightweight/SqlQuery/Migrate.hpp
  src/Lightweight/SqlQuery/MigrationPlan.hpp
  src/Lightweight/SqlQueryFormatter.cpp
  src/tests/QueryBuilderTests.cpp
Labels: tests, Core API, Query Builder

Deploying to gh-pages from @ LASTRADA-Software/Lightweight@408d4a6c90435b787dbce9582a5bd59663c802cd 🚀
  d3/d15/classSqlMigrationQueryBuilder.html
  d3/d3f/classSqlAlterTableQueryBuilder.html
  d3/d3f/classSqlAlterTableQueryBuilder.js
  d5/d6b/classSqlAlterTableQueryBuilder-members.html
  d5/df9/SqlConnection_8hpp_source.html
  d6/d35/SqlMigration_8hpp_source.html
  d9/d6b/Migrate_8hpp_source.html
  d9/d6e/SqlStatement_8hpp_source.html
  db/d2a/tests_2Utils_8hpp_source.html
  db/d47/MigrationPlan_8hpp_source.html
  dc/dcc/SqlQuery_8hpp_source.html
  functions.html
  functions_func.html
  navtreedata.js
  navtreeindex0.js
  navtreeindex1.js
  search/all_1.js
  search/functions_0.js
Labels: none

[Query Builder] SqlAlterTableQueryBuilder: Fix storage for `DropForeignKey`
  src/Lightweight/SqlQuery/Migrate.cpp
  src/Lightweight/SqlQuery/MigrationPlan.hpp
Labels: Query Builder

Deploying to gh-pages from @ LASTRADA-Software/Lightweight@a9073ce7b1771af5191010235d645bc90267c388 🚀
  db/d47/MigrationPlan_8hpp_source.html
Labels: none

Add some docs
  docs/CMakeLists.txt
  docs/usage.md
  src/Lightweight/DataBinder/SqlVariant.hpp
  src/Lightweight/SqlQuery.hpp
  src/Lightweight/SqlQuery/Core.hpp
  src/Lightweight/SqlQuery/Delete.hpp
  src/Lightweight/SqlQuery/Migrate.hpp
  src/Lightweight/SqlQuery/Select.hpp
  src/Lightweight/SqlQuery/Update.hpp
  src/Lightweight/SqlStatement.hpp
  src/benchmark/benchmark.cpp
Labels: documentation, benchmark, Core API, Data Binder, Query Builder

[Query Builder] SqlAlterTableQueryBuilder: add ability to alter NULL / NOT NULL setting
  src/Lightweight/SqlQuery/Migrate.cpp
  src/Lightweight/SqlQuery/Migrate.hpp
  src/Lightweight/SqlQuery/MigrationPlan.hpp
  src/Lightweight/SqlQueryFormatter.cpp
  src/tests/QueryBuilderTests.cpp
Labels: tests, Core API, Query Builder

Deploying to gh-pages from @ LASTRADA-Software/Lightweight@eac82395a02bbf332e5ed4037fb07cb6b09910f3 🚀
  d3/d3f/classSqlAlterTableQueryBuilder.html
  d3/d3f/classSqlAlterTableQueryBuilder.js
  d5/d6b/classSqlAlterTableQueryBuilder-members.html
  d6/daa/group__QueryBuilder.js
  d9/d6b/Migrate_8hpp_source.html
  db/d47/MigrationPlan_8hpp_source.html
  functions.html
  functions_func.html
  navtreeindex0.js
  search/all_1.js
  search/functions_0.js
Labels: none

SqlQueryFormatter: refactor ColumnType() implementations for better maintainability
  src/Lightweight/SqlQueryFormatter.cpp
Labels: Core API, Query Builder

[DataBinder] Add SqlBinary API and binary column type support
  src/Lightweight/DataBinder/BasicStringBinder.hpp
  src/Lightweight/DataBinder/SqlBinary.hpp
  src/Lightweight/SqlColumnTypeDefinitions.hpp
  src/Lightweight/SqlDataBinder.hpp
  src/Lightweight/SqlQueryFormatter.cpp
  src/tests/DataBinderTests.cpp
Labels: tests, Core API, Data Binder, Query Builder

Deploying to gh-pages from @ LASTRADA-Software/Lightweight@4eeef9f0399049c035910637b384bc881c684025 🚀
  annotated.html
  annotated_dup.js
  classes.html
  d0/d55/SqlDataBinder_8hpp_source.html
  d0/d8b/classSqlBinary-members.html
  d6/dc2/BasicStringBinder_8hpp_source.html
  d8/db2/SqlColumnTypeDefinitions_8hpp_source.html
  dd/d94/SqlBinary_8hpp_source.html
  df/d29/classSqlBinary.html
  df/d29/classSqlBinary.png
  dir_6f1d6fa2b219487ffef8a5d5282640f4.html
  dir_6f1d6fa2b219487ffef8a5d5282640f4.js
  files.html
  hierarchy.html
  hierarchy.js
  navtreedata.js
  navtreeindex0.js
  navtreeindex1.js
  navtreeindex2.js
  search/all_12.js
  search/classes_4.js
Labels: none

.github/labeler.yml:

"CI pipeline":
    - .github/**
CMake:
    - "**CMakeLists.txt"
    - cmake/**
documentation:
    - "**/*.md"
    - docs/**
benchmark:
    - src/benchmark/**
tests:
    - src/tests/**
ddl2cpp:
    - src/tools/ddl2cpp**
"Core API":
    - src/Lightweight/*.cpp
    - src/Lightweight/*.hpp
"Data Binder":
    - src/Lightweight/DataBinder/**
"Data Mapper":
    - src/Lightweight/DataMapper/**
"Query Builder":
    - src/Lightweight/SqlQuery/**
    - src/Lightweight/SqlQuery*
"CLI":
    - src/tools/**
