Repository LASTRADA-Software/Lightweight, pull requests merged in 2024-12, with the labels that each got.

#108 SQL Migration query builder API and migration API
  src/Lightweight/CMakeLists.txt
  src/Lightweight/SqlConnection.cpp
  src/Lightweight/SqlConnection.hpp
  src/Lightweight/SqlQuery.cpp
  src/Lightweight/SqlQuery.hpp
  src/Lightweight/SqlQuery/Migrate.cpp
  src/Lightweight/SqlQuery/Migrate.hpp
  src/Lightweight/SqlQuery/MigrationPlan.cpp
  src/Lightweight/SqlQuery/MigrationPlan.hpp
  src/Lightweight/SqlQueryFormatter.cpp
  src/Lightweight/SqlQueryFormatter.hpp
  src/Lightweight/SqlStatement.hpp
  src/tests/CoreTests.cpp
  src/tests/DataBinderTests.cpp
  src/tests/QueryBuilderTests.cpp
  src/tests/Utils.hpp
Labels: CLI, QueryBuilder API

#117 DataMapper: Enable support for simply querying an arbitrary result to be mapped into a trivial struct
  src/Lightweight/DataMapper/DataMapper.hpp
  src/tests/DataMapperTests.cpp
Labels: Data Mapper

#115 more cleanups and adaptions
  src/Lightweight/SqlQuery/Core.hpp
  src/tests/DataBinderTests.cpp
  src/tests/QueryBuilderTests.cpp
Labels: SQL core API

#118 DataBinder: Improve Unicode string support, and reduce code duplication
  src/Lightweight/DataBinder/BasicStringBinder.hpp
  src/Lightweight/DataBinder/Core.hpp
  src/Lightweight/DataBinder/SqlFixedString.hpp
  src/Lightweight/DataBinder/SqlGuid.cpp
  src/Lightweight/DataBinder/UnicodeConverter.hpp
  src/tests/DataBinderTests.cpp
  src/tests/Utils.hpp
Labels: SQL core API

#120 Add support for tables with multiple manual primary keys in Migration builder and data mapper
  src/Lightweight/SqlQueryFormatter.cpp
  src/Lightweight/Utils.hpp
  src/tests/DataMapperTests.cpp
  src/tests/QueryBuilderTests.cpp
Labels: SQL core API, Data Mapper

#124 Reduce CREATE TABLE code duplication by making use of the query builder in data mapper's CreateTable<>
  src/Lightweight/DataMapper/DataMapper.hpp
  src/Lightweight/DataMapper/Detail.hpp
  src/Lightweight/SqlQuery/MigrationPlan.hpp
  src/Lightweight/SqlQueryFormatter.cpp
  src/Lightweight/Utils.hpp
  src/tests/DataMapperTests.cpp
  src/tests/QueryBuilderTests.cpp
Labels: Data Mapper

#126 Drop SqlTrimmedString in favor of SqlTrimmedFixedString<N>
  src/Lightweight/CMakeLists.txt
  src/Lightweight/DataBinder/SqlTrimmedString.hpp
  src/Lightweight/DataMapper/Field.hpp
  src/Lightweight/SqlDataBinder.hpp
  src/tests/DataBinderTests.cpp
  src/tests/Utils.hpp
  src/tools/ddl2cpp.cpp
Labels: SQL core API

#130 feedback oriented improvements
  src/Lightweight/DataBinder/BasicStringBinder.hpp
  src/Lightweight/DataMapper/DataMapper.hpp
  src/Lightweight/SqlQuery/Core.hpp
  src/Lightweight/Utils.hpp
  src/tests/QueryBuilderTests.cpp
  src/tools/ddl2cpp.cpp
Labels: SQL core API, Query Builder

#135 Enable GUID primary key support in data mapper
  src/Lightweight/DataBinder/SqlGuid.hpp
  src/Lightweight/DataMapper/DataMapper.hpp
  src/tests/DataMapperTests.cpp
Labels: SQL core API, Data Mapper

#137 Add SqlMigration API
  src/Lightweight/CMakeLists.txt
  src/Lightweight/DataMapper/DataMapper.hpp
  src/Lightweight/SqlMigration.cpp
  src/Lightweight/SqlMigration.hpp
  src/Lightweight/SqlQuery/Migrate.cpp
  src/Lightweight/SqlQuery/Migrate.hpp
  src/Lightweight/SqlQuery/MigrationPlan.cpp
  src/Lightweight/SqlQuery/MigrationPlan.hpp
  src/Lightweight/SqlQueryFormatter.cpp
  src/Lightweight/SqlQueryFormatter.hpp
  src/Lightweight/SqlStatement.hpp
  src/tests/CMakeLists.txt
  src/tests/MigrationTests.cpp
  src/tests/QueryBuilderTests.cpp
Labels: CLI

#147 Drop tables via fixed-point iteration
  src/tests/Utils.hpp
Labels: tests

#149 Fix foreign key creation and try to improve/extend respective test cases
  src/Lightweight/SqlQuery/Migrate.cpp
  src/Lightweight/SqlQuery/Migrate.hpp
  src/Lightweight/SqlQueryFormatter.cpp
  src/tests/MigrationTests.cpp
  src/tests/QueryBuilderTests.cpp
Labels: Data Mapper

#151 [tests] properly recursively drop leaking tables
  docs/CMakeLists.txt
  docs/best-practices.md
  src/Lightweight/DataBinder/SqlVariant.hpp
  src/Lightweight/SqlSchema.cpp
  src/Lightweight/SqlSchema.hpp
  src/tests/DataBinderTests.cpp
  src/tests/Utils.hpp
Labels: tests

#152 general documentation improvements
  src/Lightweight/DataBinder/SqlDate.hpp
  src/Lightweight/DataBinder/SqlDateTime.hpp
  src/Lightweight/DataBinder/SqlFixedString.hpp
  src/Lightweight/DataBinder/SqlGuid.hpp
  src/Lightweight/DataBinder/SqlNullValue.hpp
  src/Lightweight/DataBinder/SqlNumeric.hpp
  src/Lightweight/DataBinder/SqlTime.hpp
  src/Lightweight/DataBinder/UnicodeConverter.hpp
  src/Lightweight/DataMapper/DataMapper.hpp
  src/Lightweight/DataMapper/Field.hpp
Labels: documentation

#153 some convenience helper for very complex queries
  src/Lightweight/DataMapper/DataMapper.hpp
  src/Lightweight/SqlQuery.cpp
  src/Lightweight/SqlQuery.hpp
  src/Lightweight/SqlQuery/Select.hpp
  src/Lightweight/SqlStatement.hpp
  src/Lightweight/Utils.hpp
  src/tests/CoreTests.cpp
  src/tests/QueryBuilderTests.cpp
Labels: SQL core API

#139 Add BelongsTo handling in `DataMapper::CreateTableString<T>()`
  src/Lightweight/DataMapper/BelongsTo.hpp
  src/Lightweight/DataMapper/DataMapper.hpp
  src/tests/DataMapperTests.cpp
  src/tests/QueryBuilderTests.cpp
  src/tests/Utils.hpp
Labels: Data Mapper

#155 Allow adding and dropping foreign keys via SQL Query Builder
  src/Lightweight/SqlQuery/Migrate.cpp
  src/Lightweight/SqlQuery/Migrate.hpp
  src/Lightweight/SqlQuery/MigrationPlan.hpp
  src/Lightweight/SqlQueryFormatter.cpp
  src/tests/QueryBuilderTests.cpp
Labels: Query Builder

#157 Migration: Add AlterColumnType() and a new way to test query builder
  .github/workflows/build.yml
  src/Lightweight/SqlQuery/Migrate.cpp
  src/Lightweight/SqlQuery/Migrate.hpp
  src/Lightweight/SqlQuery/MigrationPlan.hpp
  src/Lightweight/SqlQueryFormatter.cpp
  src/tests/QueryBuilderTests.cpp
Labels: CI pipeline, Query Builder, tests, Core API

#158 [Query Builder] SqlAlterTableQueryBuilder: Fix storage for `DropForeignKey`
  src/Lightweight/SqlQuery/Migrate.cpp
  src/Lightweight/SqlQuery/MigrationPlan.hpp
Labels: Query Builder

#154 Add some docs
  docs/CMakeLists.txt
  docs/usage.md
  src/Lightweight/DataBinder/SqlVariant.hpp
  src/Lightweight/SqlQuery.hpp
  src/Lightweight/SqlQuery/Core.hpp
  src/Lightweight/SqlQuery/Delete.hpp
  src/Lightweight/SqlQuery/Migrate.hpp
  src/Lightweight/SqlQuery/Select.hpp
  src/Lightweight/SqlQuery/Update.hpp
  src/Lightweight/SqlStatement.hpp
  src/benchmark/benchmark.cpp
Labels: documentation, Query Builder, Data Binder, benchmark, Core API

#159 [Query Builder] SqlAlterTableQueryBuilder: add ability to alter NULL / NOT NULL setting
  src/Lightweight/SqlQuery/Migrate.cpp
  src/Lightweight/SqlQuery/Migrate.hpp
  src/Lightweight/SqlQuery/MigrationPlan.hpp
  src/Lightweight/SqlQueryFormatter.cpp
  src/tests/QueryBuilderTests.cpp
Labels: Query Builder, tests, Core API

#161 SqlQueryFormatter: refactor ColumnType() implementations for better maintainability
  src/Lightweight/SqlQueryFormatter.cpp
Labels: Query Builder, Core API

#160 [DataBinder] Add SqlBinary API and binary column type support
  src/Lightweight/DataBinder/BasicStringBinder.hpp
  src/Lightweight/DataBinder/SqlBinary.hpp
  src/Lightweight/SqlColumnTypeDefinitions.hpp
  src/Lightweight/SqlDataBinder.hpp
  src/Lightweight/SqlQueryFormatter.cpp
  src/tests/DataBinderTests.cpp
Labels: Query Builder, tests, Data Binder, Core API

#162 Refactor query formatters each into their own module
  .github/labeler.yml
  src/Lightweight/QueryFormatter/OracleFormatter.hpp
  src/Lightweight/QueryFormatter/PostgreSqlFormatter.hpp
  src/Lightweight/QueryFormatter/SQLiteFormatter.hpp
  src/Lightweight/QueryFormatter/SqlServerFormatter.hpp
  src/Lightweight/SqlQueryFormatter.cpp
Labels: CI pipeline, Query Builder, Core API

#163 [tests] DataBinderTests: Add test for mixed character encoding write/read actions
  src/tests/DataBinderTests.cpp
Labels: tests
