Repository LASTRADA-Software/Lightweight, pull requests merged in 2025-04, with the labels that each got.

#233 [dd2lcpp] Allow configuration of member name formatting through cli
  src/.clang-tidy
  src/Lightweight/Utils.cpp
  src/Lightweight/Utils.hpp
  src/tests/CoreTests.cpp
  src/tools/ddl2cpp.cpp
Labels: CLI, ddl2cpp, tests, Core API

#236 ddl2cpp: Add `--naming-convention STR` CLI flag to replace --snake-case and --camel-case
  src/Lightweight/Utils.cpp
  src/Lightweight/Utils.hpp
  src/tests/CoreTests.cpp
  src/tools/ddl2cpp.cpp
Labels: CLI, ddl2cpp, tests, Core API

#232 Ensure that std::formatter for sqldatetime is in iso standard
  src/Lightweight/DataBinder/SqlDateTime.hpp
  src/tests/QueryBuilderTests.cpp
Labels: tests, Data Binder

#234 Generate example from dd2cpp
  CMakeLists.txt
  README.md
  src/Lightweight/SqlSchema.cpp
  src/Lightweight/Utils.cpp
  src/Lightweight/Utils.hpp
  src/benchmark/CMakeLists.txt
  src/examples/CMakeLists.txt
  src/tests/CoreTests.cpp
  src/tools/ddl2cpp.cpp
Labels: documentation, CLI, ddl2cpp, tests, benchmark, Core API, CMake

#238 [ddl2cpp] handle BelongsTo generation better
  src/Lightweight/SqlSchema.cpp
  src/tools/ddl2cpp.cpp
Labels: CLI, ddl2cpp, Core API

#240 Add LICENSE.txt and cmake/Lightweight-config.cmake.in for packaging
  .gitignore
  CMakeLists.txt
  LICENSE.txt
  cmake/Lightweight-config.cmake.in
  src/Lightweight/CMakeLists.txt
  src/tests/CMakeLists.txt
Labels: tests, CMake

#242 SqlQuery: Fix escaping on WhereIn() values
  src/Lightweight/SqlQuery/Core.hpp
  src/tests/QueryBuilderTests.cpp
Labels: Query Builder, tests

#243 [ddl2cpp] Generate structs into separate files
  CMakeLists.txt
  src/tools/ddl2cpp.cpp
Labels: CLI, ddl2cpp, CMake

#246 Add Support for querying column data from joined tables
  src/Lightweight/SqlQuery/Core.hpp
  src/tests/QueryBuilderTests.cpp
Labels: Query Builder, tests

#247 Add main <Lightweight/Lightweight.hpp> header file for public easy use and add missing SPDX header to ddl2cpp.cpp
  README.md
  src/Lightweight/Lightweight.hpp
  src/tests/CoreTests.cpp
  src/tests/DataBinderTests.cpp
  src/tests/DataMapperTests.cpp
  src/tests/MigrationTests.cpp
  src/tests/QueryBuilderTests.cpp
  src/tests/Utils.hpp
  src/tools/ddl2cpp.cpp
Labels: documentation, CLI, ddl2cpp, tests, Core API

#248 ddl2cpp: Add support for configuring the tool via config file
  .github/workflows/build.yml
  README.md
  src/Lightweight/SqlSchema.cpp
  src/Lightweight/SqlSchema.hpp
  src/tools/CMakeLists.txt
  src/tools/ddl2cpp.cpp
  vcpkg.json
Labels: documentation, CI pipeline, CLI, ddl2cpp, Core API

#249 Implement data mapper handling of join statements
  .github/workflows/build.yml
  src/Lightweight/DataMapper/DataMapper.hpp
  src/Lightweight/DataMapper/Record.hpp
  src/tests/DataMapperTests.cpp
Labels: Data Mapper, CI pipeline, tests

#253 ddl2cpp: Add ability to force Unicode on text columns
  src/Lightweight/DataBinder/SqlFixedString.hpp
  src/tools/ddl2cpp.cpp
Labels: CLI, ddl2cpp, Data Binder

#254 ddl2cpp: Implement better primary key assignment declaration
  .github/workflows/docs.yml
  .gitignore
  src/Lightweight/DataMapper/Field.hpp
  src/tools/ddl2cpp.cpp
Labels: Data Mapper, CI pipeline, CLI, ddl2cpp

#257 ddl2cpp: BelongsTo<> improvements (and some minor cleanups)
  src/Lightweight/DataMapper/BelongsTo.hpp
  src/tools/ddl2cpp.cpp
Labels: Data Mapper, CLI, ddl2cpp

#259 Make flag for docs generation explicit
  .github/workflows/docs.yml
  docs/CMakeLists.txt
Labels: documentation, CI pipeline

#256 Add handling of constraints that are both primary and foreign keys
  src/tools/ddl2cpp.cpp
Labels: CLI, ddl2cpp

#255 Add API to create join query using datamapper
  .github/workflows/docs.yml
  src/Lightweight/DataMapper/DataMapper.hpp
  src/Lightweight/Utils.hpp
  src/tests/DataMapperTests.cpp
Labels: Data Mapper, CI pipeline, tests, Core API
