Repository LASTRADA-Software/Lightweight, pull requests merged in 2025-02, with the labels that each got.

#196 SqlDateTime cleanups & add convenience operator overloads
  src/Lightweight/DataBinder/SqlDateTime.hpp
  src/tests/DataBinderTests.cpp
Labels: tests, Data Binder

#201 DataMapper: Rename FieldNameOf to FieldNameAt and add an actual FieldNameOf
  src/Lightweight/DataMapper/DataMapper.hpp
  src/Lightweight/DataMapper/Field.hpp
  src/Lightweight/DataMapper/SqlRealName.hpp
  src/tests/DataMapperTests.cpp
Labels: Data Mapper, tests

#199 Add implementation to missing functions DataMapper::Count() and All()
  src/Lightweight/DataMapper/DataMapper.hpp
  src/tests/DataMapperTests.cpp
Labels: Data Mapper, tests

#202 Extend SqlFixedString<> to accept std::string as ctor and copy assignment operator and related improvements
  src/Lightweight/DataBinder/SqlFixedString.hpp
  src/Lightweight/DataMapper/Field.hpp
  src/tests/DataMapperTests.cpp
Labels: Data Mapper, tests, Data Binder

#200 Implement partial read from the database into structure
  .github/workflows/build.yml
  src/Lightweight/DataMapper/DataMapper.hpp
  src/tests/DataMapperTests.cpp
Labels: Data Mapper, CI pipeline, tests

#197 Overall cleanup as suggested by clang-tidy :)
  .github/workflows/build.yml
  src/Lightweight/SqlConnection.cpp
  src/Lightweight/SqlError.cpp
  src/Lightweight/SqlQuery/Migrate.hpp
  src/Lightweight/SqlSchema.cpp
  src/Lightweight/SqlStatement.hpp
  src/benchmark/benchmark.cpp
  src/tests/CoreTests.cpp
  src/tests/DataBinderTests.cpp
  src/tests/DataMapperTests.cpp
  src/tests/MigrationTests.cpp
  src/tools/ddl2cpp.cpp
Labels: CI pipeline, CLI, ddl2cpp, Query Builder, tests, benchmark, Core API

#203 Avoid reusing the same variable name again and allow returning the input Record& ref in BindOutputColumns()
  src/Lightweight/DataMapper/DataMapper.hpp
Labels: Data Mapper

#190 Allow generation headers with aliases in dll2cpp
  src/Lightweight/SqlSchema.cpp
  src/tools/ddl2cpp.cpp
  src/tools/test.sh
  src/tools/tests/1.expected.cpp
  src/tools/tests/2.expected.cpp
  src/tools/tests/3.expected.cpp
  src/tools/tests/4.expected.cpp
  src/tools/tests/4.sql
Labels: CLI, ddl2cpp, Core API

#204 Small cleanup to ddl2cpp
  src/tools/ddl2cpp.cpp
  src/tools/test.sh
  src/tools/tests/4.expected.cpp
  src/tools/tests/4.sql
Labels: CLI, ddl2cpp

#209 Scoped performance logging
  src/Lightweight/SqlLogger.cpp
  src/Lightweight/SqlLogger.hpp
  src/tests/Utils.hpp
Labels: tests, Core API

#194 Add ability to generically access a record's primary key without knowing its field name
  src/Lightweight/DataMapper/Field.hpp
  src/Lightweight/DataMapper/Record.hpp
  src/tests/DataMapperTests.cpp
Labels: Data Mapper, tests

#208 Implement retrieval of the fields name in different cases
  src/Lightweight/DataMapper/BelongsTo.hpp
  src/Lightweight/DataMapper/DataMapper.hpp
  src/Lightweight/DataMapper/Field.hpp
  src/Lightweight/SqlQuery/Select.hpp
  src/Lightweight/SqlRealName.hpp
  src/Lightweight/Utils.hpp
  src/tests/DataMapperTests.cpp
  src/tests/QueryBuilderTests.cpp
Labels: Data Mapper, Query Builder, tests, Core API

#189 some data binder improvements (missing primitives types added)
  src/Lightweight/DataBinder/Primitives.hpp
  src/tests/DataBinderTests.cpp
Labels: tests, Data Binder

#211 Field: delete dead SqlNullable / SqlNotNullable API
  src/Lightweight/DataMapper/Field.hpp
Labels: Data Mapper

#214 Add support for FullFieldNameOf<&Record::fieldName> to compile-time represent the corrct fully qualified field name.
  src/Lightweight/SqlQuery/Core.hpp
  src/Lightweight/Utils.hpp
  src/tests/DataMapperTests.cpp
Labels: Query Builder, tests, Core API

#218 SqlTransaction: Add support for configuring the transaction isolation modes (via SqlIsolationMode)
  src/Lightweight/SqlTransaction.cpp
  src/Lightweight/SqlTransaction.hpp
Labels: Core API

#221 [logging] Make sure logging is thread safe
  src/Lightweight/SqlLogger.cpp
Labels: Core API

#222 SqlConnectionDataSource: Add static helper FromConnectionString()
  src/Lightweight/SqlConnectInfo.cpp
  src/Lightweight/SqlConnectInfo.hpp
  src/tests/CoreTests.cpp
Labels: tests, Core API

#219 Add SqlVariantRow to generically read rows when not knowing the column count nor column types
  src/Lightweight/DataBinder/SqlVariant.cpp
  src/Lightweight/DataBinder/SqlVariant.hpp
  src/Lightweight/DataMapper/DataMapper.hpp
  src/Lightweight/SqlQuery/Core.hpp
  src/Lightweight/SqlQuery/Select.cpp
  src/Lightweight/SqlStatement.hpp
  src/tests/CoreTests.cpp
  src/tests/DataMapperTests.cpp
Labels: Data Mapper, Query Builder, tests, Data Binder, Core API

#224 Fix BelongsTo<> (when used with SqlRealName) relations and related findings
  .vimspector.json
  src/Lightweight/CMakeLists.txt
  src/Lightweight/DataBinder/BasicStringBinder.hpp
  src/Lightweight/DataBinder/MFCStringLike.hpp
  src/Lightweight/DataBinder/SqlBinary.hpp
  src/Lightweight/DataBinder/SqlDate.hpp
  src/Lightweight/DataBinder/SqlDateTime.hpp
  src/Lightweight/DataBinder/SqlGuid.hpp
  src/Lightweight/DataBinder/SqlVariant.hpp
  src/Lightweight/DataMapper/BelongsTo.hpp
  src/Lightweight/DataMapper/DataMapper.hpp
  src/Lightweight/DataMapper/Record.hpp
  src/Lightweight/DataMapper/RecordId.hpp
  src/Lightweight/QueryFormatter/OracleFormatter.hpp
  src/Lightweight/QueryFormatter/PostgreSqlFormatter.hpp
  src/Lightweight/QueryFormatter/SQLiteFormatter.hpp
  src/Lightweight/QueryFormatter/SqlServerFormatter.hpp
  src/Lightweight/SqlQuery/Core.cpp
  src/Lightweight/SqlQuery/Core.hpp
  src/Lightweight/SqlQuery/Select.cpp
  src/Lightweight/SqlQuery/Select.hpp
  src/Lightweight/SqlStatement.hpp
  src/Lightweight/Utils.hpp
  src/tests/DataMapperTests.cpp
Labels: Data Mapper, Query Builder, tests, Data Binder, Core API, Query Formatter

#223 Improve handling of LARGEEEEEE data retrieval
  src/Lightweight/CMakeLists.txt
  src/Lightweight/DataBinder/BasicStringBinder.hpp
  src/Lightweight/DataBinder/Core.hpp
  src/Lightweight/DataBinder/SqlDynamicString.hpp
  src/Lightweight/DataBinder/SqlFixedString.hpp
  src/Lightweight/DataMapper/DataMapper.hpp
  src/Lightweight/QueryFormatter/OracleFormatter.hpp
  src/Lightweight/QueryFormatter/SqlServerFormatter.hpp
  src/Lightweight/SqlDataBinder.hpp
  src/Lightweight/SqlQuery/MigrationPlan.hpp
  src/Lightweight/SqlQuery/Select.hpp
  src/Lightweight/SqlStatement.cpp
  src/Lightweight/Utils.cpp
  src/Lightweight/Utils.hpp
  src/tests/CMakeLists.txt
  src/tests/DataBinderTests.cpp
  src/tests/DataMapperTests.cpp
  src/tests/Utils.hpp
Labels: Data Mapper, Query Builder, tests, Data Binder, Core API, Query Formatter
