Repository LASTRADA-Software/Lightweight, pull requests merged in 2025-06, with the labels that each got.

#295 Use std::unique_ptr for belongs to records to reduce memory usage if we do not load records
  src/Lightweight/DataMapper/BelongsTo.hpp
Labels: Data Mapper

#296 Fix detection of dynamic types inside optional
  src/Lightweight/DataBinder/SqlDynamicBinary.hpp
  src/Lightweight/DataBinder/SqlDynamicString.hpp
  src/Lightweight/DataMapper/DataMapper.hpp
  src/examples/test_chinook/main.cpp
Labels: Data Mapper, Data Binder

#298 Add testing for dynamic strings and query sparse fix
  src/Lightweight/DataMapper/DataMapper.hpp
  src/tests/DataMapperTests.cpp
Labels: Data Mapper, tests

#297 Fix CMake project version info
  .github/workflows/build.yml
  CMakeLists.txt
  cmake/Version.cmake
  src/examples/test_chinook/main.cpp
Labels: CI pipeline, CMake

#294 Adds SqlFixedStringMaxSize configuration key to allow tweaking the limit of fixed-string columns. Dynamic string allocation is used otherwise.
  src/examples/test_chinook/entities/Album.hpp
  src/examples/test_chinook/entities/Artist.hpp
  src/examples/test_chinook/entities/Customer.hpp
  src/examples/test_chinook/entities/Employee.hpp
  src/examples/test_chinook/entities/Genre.hpp
  src/examples/test_chinook/entities/Invoice.hpp
  src/examples/test_chinook/entities/Mediatype.hpp
  src/examples/test_chinook/entities/Playlist.hpp
  src/examples/test_chinook/entities/Track.hpp
  src/examples/test_chinook/main.cpp
  src/tools/ddl2cpp.cpp
Labels: CLI, ddl2cpp

#299 Improve Version.cmake to also work as sub project
  cmake/Version.cmake
Labels: CMake

#300 Add support for chain of `BelongsTo` fields
  src/Lightweight/DataMapper/BelongsTo.hpp
  src/Lightweight/DataMapper/DataMapper.hpp
  src/tests/DataMapperTests.cpp
Labels: Data Mapper, tests
