Repository LASTRADA-Software/Lightweight, pull requests merged in 2025-05, with the labels that each got.

#261 Load database from file inside action and test ddl2cpp header generation
  .github/prepare-test-run.sh
  .github/workflows/build.yml
  src/examples/test_chinook/Chinook_Sqlite.sql
  src/examples/test_chinook/header.hpp
  src/tools/ddl2cpp.cpp
Labels: CI pipeline, CLI, ddl2cpp

#264 SqlDateTime: Add year/month/date/hour/minute/second/nanosecond read accessors
  src/Lightweight/DataBinder/SqlDateTime.hpp
Labels: Data Binder

#265 Ensure that we do not repeat names of the members and chinook test update
  .github/workflows/build.yml
  src/examples/CMakeLists.txt
  src/examples/test_chinook/CMakeLists.txt
  src/examples/test_chinook/README.md
  src/examples/test_chinook/entities/Album.hpp
  src/examples/test_chinook/entities/Artist.hpp
  src/examples/test_chinook/entities/Customer.hpp
  src/examples/test_chinook/entities/Employee.hpp
  src/examples/test_chinook/entities/Genre.hpp
  src/examples/test_chinook/entities/Invoice.hpp
  src/examples/test_chinook/entities/Invoiceline.hpp
  src/examples/test_chinook/entities/Mediatype.hpp
  src/examples/test_chinook/entities/Playlist.hpp
  src/examples/test_chinook/entities/Playlisttrack.hpp
  src/examples/test_chinook/entities/Track.hpp
  src/examples/test_chinook/header.hpp
  src/examples/test_chinook/main.cpp
  src/tools/ddl2cpp.cpp
Labels: documentation, CI pipeline, CLI, ddl2cpp

#267 SqlFixedString: Add easy accessors to value as std::string
  src/Lightweight/DataBinder/SqlFixedString.hpp
  src/tests/DataBinderTests.cpp
Labels: tests, Data Binder

#271 ddl2cpp: Add ability to optionally create a cumulative header, that includes them all
  src/tools/ddl2cpp.cpp
Labels: CLI, ddl2cpp

#266 [ddl2cpp] Better handling of the name collision
  .github/workflows/build.yml
  src/Lightweight/SqlDataBinder.hpp
  src/Lightweight/SqlSchema.cpp
  src/Lightweight/SqlSchema.hpp
  src/Lightweight/Utils.cpp
  src/Lightweight/Utils.hpp
  src/examples/test_chinook/README.md
  src/examples/test_chinook/main.cpp
  src/tests/CoreTests.cpp
  src/tools/ddl2cpp.cpp
Labels: documentation, CI pipeline, CLI, ddl2cpp, tests, Core API

#277 Do not export std::formatters
  src/Lightweight/DataBinder/SqlVariant.hpp
  src/Lightweight/SqlConnectInfo.hpp
  src/Lightweight/SqlError.hpp
  src/Lightweight/SqlSchema.hpp
  src/Lightweight/SqlServerType.hpp
  src/Lightweight/SqlTransaction.hpp
Labels: Data Binder, Core API

#279 Fix build of where clause on data mapper update call
  src/Lightweight/DataMapper/DataMapper.hpp
Labels: Data Mapper

#274 Chinook update example
  .github/workflows/build.yml
  src/Lightweight/DataBinder/UnicodeConverter.cpp
  src/examples/test_chinook/README.md
  src/examples/test_chinook/entities/Album.hpp
  src/examples/test_chinook/entities/Customer.hpp
  src/examples/test_chinook/entities/Employee.hpp
  src/examples/test_chinook/entities/Invoice.hpp
  src/examples/test_chinook/entities/Invoiceline.hpp
  src/examples/test_chinook/entities/Playlisttrack.hpp
  src/examples/test_chinook/entities/Track.hpp
  src/examples/test_chinook/main.cpp
  src/tests/DataBinderTests.cpp
  src/tools/ddl2cpp.cpp
  src/tools/test_chinook.sh
Labels: documentation, CI pipeline, CLI, ddl2cpp, tests, Data Binder

#282 Make api of sql dynamic binary more restrictive to fix msvc compilatiion
  src/Lightweight/DataBinder/SqlDynamicBinary.hpp
  src/examples/test_chinook/entities/Invoice.hpp
  src/examples/test_chinook/entities/Invoiceline.hpp
  src/examples/test_chinook/entities/Track.hpp
  src/tests/DataBinderTests.cpp
  src/tools/ddl2cpp.cpp
Labels: CLI, ddl2cpp, tests, Data Binder

#281 Add query single no relations function to load entry without relations
  src/Lightweight/DataMapper/BelongsTo.hpp
  src/Lightweight/DataMapper/DataMapper.hpp
  src/tests/DataMapperTests.cpp
  src/tests/Utils.hpp
Labels: Data Mapper, tests

#283 Fixes loading of the dynamic string
  src/Lightweight/DataMapper/BelongsTo.hpp
  src/Lightweight/DataMapper/DataMapper.hpp
  src/tests/DataMapperTests.cpp
  src/tests/Utils.hpp
Labels: Data Mapper, tests

#287 DataMapper: Fix & improve safe handling of Record retrieval
  src/Lightweight/DataMapper/DataMapper.hpp
  src/tests/DataMapperTests.cpp
Labels: Data Mapper, tests

#289 Deal with writing SqlDateTime on MS SQL server via driver "SQL Server" legacy ODBC driver
  src/Lightweight/DataBinder/SqlDateTime.hpp
Labels: Data Binder

#291 Fix more tests on Windows against MS SQL (test result set ordering issues addressed)
  src/Lightweight/DataBinder/SqlDateTime.hpp
  src/tests/DataMapperTests.cpp
Labels: tests, Data Binder

#292 Improve support of SqlDateTime for MS SQL server via SQLSRV32.DLL (legacy)
  src/Lightweight/DataBinder/Core.hpp
  src/Lightweight/DataBinder/SqlDateTime.hpp
  src/Lightweight/SqlConnection.cpp
  src/Lightweight/SqlConnection.hpp
  src/Lightweight/SqlStatement.cpp
  src/Lightweight/SqlStatement.hpp
Labels: Data Binder, Core API
