Repository LASTRADA-Software/Lightweight, pull requests merged in 2025-07, with the labels that each got.

#303 Fix clang-tidy warnings and make them as errors
  .clang-format
  .clang-tidy
  .github/workflows/build.yml
  .github/workflows/docs.yml
  src/Lightweight/DataBinder/BasicStringBinder.hpp
  src/Lightweight/DataBinder/SqlBinary.hpp
  src/Lightweight/DataBinder/SqlDateTime.hpp
  src/Lightweight/DataBinder/SqlDynamicString.hpp
  src/Lightweight/DataBinder/SqlFixedString.hpp
  src/Lightweight/DataBinder/SqlNumeric.hpp
  src/Lightweight/DataBinder/SqlVariant.hpp
  src/Lightweight/DataMapper/BelongsTo.hpp
  src/Lightweight/DataMapper/CollectDifferences.hpp
  src/Lightweight/DataMapper/Field.hpp
  src/Lightweight/DataMapper/HasMany.hpp
  src/Lightweight/DataMapper/HasManyThrough.hpp
  src/Lightweight/QueryFormatter/OracleFormatter.hpp
  src/Lightweight/QueryFormatter/SQLiteFormatter.hpp
  src/Lightweight/QueryFormatter/SqlServerFormatter.hpp
  src/Lightweight/SqlLogger.hpp
  src/Lightweight/SqlMigration.hpp
  src/Lightweight/SqlStatement.hpp
  src/Lightweight/Utils.cpp
  src/Lightweight/Utils.hpp
  src/examples/test_chinook/main.cpp
  src/tests/CoreTests.cpp
  src/tests/DataMapperTests.cpp
  src/tests/Utils.hpp
  src/tools/ddl2cpp.cpp
Labels: Data Mapper, CI pipeline, CLI, ddl2cpp, tests, Data Binder, Core API, Query Formatter

#306 Fixes mixed queries requiring pre-binding parameters and not pre-binding parameters
  .github/workflows/build.yml
  src/Lightweight/DataBinder/SqlDateTime.hpp
  src/Lightweight/DataBinder/SqlDynamicString.hpp
  src/Lightweight/DataBinder/SqlNumeric.hpp
  src/Lightweight/DataMapper/DataMapper.hpp
  src/Lightweight/DataMapper/Field.hpp
  src/Lightweight/SqlStatement.cpp
  src/Lightweight/SqlStatement.hpp
  src/examples/test_chinook/README.md
  src/examples/test_chinook/main.cpp
  src/tests/DataMapperTests.cpp
  src/tools/ddl2cpp.cpp
Labels: documentation, Data Mapper, CI pipeline, CLI, ddl2cpp, tests, Data Binder, Core API

#307 Make sure to use config file for the clang-tidy
  .github/workflows/build.yml
Labels: CI pipeline

#305 Add support for NULL-able BelongsTo<> values.
  src/Lightweight/DataMapper/BelongsTo.hpp
  src/Lightweight/DataMapper/DataMapper.hpp
  src/Lightweight/DataMapper/HasMany.hpp
  src/examples/test_chinook/entities/Customer.hpp
  src/examples/test_chinook/entities/Track.hpp
  src/tests/DataMapperTests.cpp
  src/tools/ddl2cpp.cpp
  src/tools/test_chinook.sh
Labels: Data Mapper, CLI, ddl2cpp, tests

#308 [SqlQuery] Insert: fix function signature for ToSql()
  src/Lightweight/SqlQuery/Insert.hpp
Labels: Query Builder

#311 Make sure to run test from within windows
  .github/workflows/build.yml
  src/tests/DataMapperTests.cpp
Labels: CI pipeline, tests

#315 Fix loading nullable fields
  src/Lightweight/DataMapper/DataMapper.hpp
  src/tests/DataMapperTests.cpp
Labels: Data Mapper, tests

#317 minor fixes
  src/Lightweight/DataMapper/DataMapper.hpp
  src/Lightweight/SqlMigration.cpp
  src/tests/DataMapperTests.cpp
  src/tools/test_chinook.sh
Labels: Data Mapper, CLI, tests, Core API

#320 ddl2cpp: Fix treating too many SQL column types as float rather than double
  src/Lightweight/SqlColumnTypeDefinitions.hpp
  src/tools/ddl2cpp.cpp
Labels: CLI, ddl2cpp, Core API

#325 [DataBinder] general string/array data code tidies/cleanups
  src/Lightweight/DataBinder/BasicStringBinder.hpp
  src/Lightweight/DataBinder/SqlBinary.hpp
  src/Lightweight/DataBinder/SqlDynamicBinary.hpp
Labels: Data Binder
