Repository LASTRADA-Software/Lightweight, pull requests merged in 2025-03, with the labels that each got.

#225 improve documentation a bit on best-practices
  docs/best-practices.md
Labels: documentation

#213 Add data binder API documentation section
  docs/CMakeLists.txt
  docs/data-binder.md
Labels: documentation

#228 aim to help easing up bridging between modern SQL code and legacy variant-list based model architectures
  CMakePresets.json
  cmake/PedanticCompiler.cmake
  src/Lightweight/DataBinder/BasicStringBinder.hpp
  src/Lightweight/DataBinder/SqlVariant.cpp
  src/Lightweight/DataBinder/SqlVariant.hpp
  src/Lightweight/DataMapper/DataMapper.hpp
  src/Lightweight/DataMapper/Field.hpp
  src/Lightweight/DataMapper/Record.hpp
  src/benchmark/benchmark.cpp
  src/tests/DataBinderTests.cpp
  src/tests/DataMapperTests.cpp
  src/tools/ddl2cpp.cpp
Labels: Data Mapper, CLI, ddl2cpp, tests, Data Binder, benchmark, CMake

#217 Fix SqlRowIterator and also make it more efficient
  src/Lightweight/SqlStatement.hpp
  src/benchmark/benchmark.cpp
  src/tests/DataMapperTests.cpp
Labels: tests, benchmark, Core API

#229 Changes to compile with clangcl
  .github/workflows/build.yml
  CMakeLists.txt
  cmake/PedanticCompiler.cmake
  src/Lightweight/CMakeLists.txt
  src/Lightweight/DataBinder/SqlNumeric.hpp
  src/Lightweight/DataBinder/SqlVariant.cpp
  src/Lightweight/SqlTransaction.hpp
  src/tests/CMakeLists.txt
Labels: CI pipeline, tests, Data Binder, Core API, CMake
