Repository LASTRADA-Software/Lightweight, pull requests merged in 2025-08, with the labels that each got.

#324 [ddl2cpp] Fix translation of CHAR(n) to become a SqlTrimmedFixedString<N, T> instead of variable sized fixed capacity string.
  src/Lightweight/CMakeLists.txt
  src/Lightweight/Tools/CxxModelPrinter.cpp
  src/Lightweight/Tools/CxxModelPrinter.hpp
  src/tests/CMakeLists.txt
  src/tests/CxxModelPrinterTests.cpp
  src/tools/CMakeLists.txt
  src/tools/ddl2cpp.cpp
  src/tools/test.sh
  src/tools/tests/1.expected.cpp
  src/tools/tests/1.sql
  src/tools/tests/2.expected.cpp
  src/tools/tests/2.sql
  src/tools/tests/3.expected.cpp
  src/tools/tests/3.sql
  src/tools/tests/4.expected.cpp
  src/tools/tests/4.sql
Labels: CLI, ddl2cpp, tests

#327 [DataMapper] Adds `QuerySingle<Record>().Count()` and `QuerySingle<Record>().Scalar<&Record::Field>()`
  src/Lightweight/DataMapper/Field.hpp
  src/Lightweight/DataMapper/QueryBuilders.hpp
  src/tests/DataMapperTests.cpp
Labels: Data Mapper, tests

#328 [tests] Split up too large DataMapperTests.cpp into multiple smaller segments
  src/tests/CMakeLists.txt
  src/tests/DataMapper/CreateTests.cpp
  src/tests/DataMapper/Entities.hpp
  src/tests/DataMapper/MiscTests.cpp
  src/tests/DataMapper/NamingTests.cpp
  src/tests/DataMapper/ReadTests.cpp
  src/tests/DataMapper/RelationTests.cpp
  src/tests/DataMapperTests.cpp
  src/tests/Utils.hpp
Labels: tests

#336 Add support for joining a table with an aliased table name
  src/Lightweight/SqlQuery/Core.hpp
  src/tests/QueryBuilderTests.cpp
Labels: Query Builder, tests

#342 Add compile-time helper `QualifiedColumnName<"TableName.ColumnName">` for constructing qualified column name
  .github/workflows/build.yml
  docs/sqlquery.md
  src/Lightweight/SqlQuery/Core.hpp
  src/tests/DataMapper/ReadTests.cpp
  src/tests/QueryBuilderTests.cpp
Labels: documentation, CI pipeline, Query Builder, tests

#346 Rename FullFieldNameOf to QuotedFieldNameOf
  src/Lightweight/DataMapper/QueryBuilders.hpp
  src/Lightweight/Utils.hpp
  src/tests/DataMapper/NamingTests.cpp
  src/tests/DataMapper/ReadTests.cpp
Labels: Data Mapper, tests, Core API

#345 Drop belongs to name implementation
  src/Lightweight/Utils.hpp
  src/tests/DataMapper/Entities.hpp
  src/tests/DataMapper/RelationTests.cpp
  src/tests/QueryBuilderTests.cpp
Labels: tests, Core API

#332 [Reflection] Implementation of functions from utils using c++26 reflection
  src/Lightweight/DataMapper/BelongsTo.hpp
  src/Lightweight/DataMapper/DataMapper.hpp
  src/Lightweight/DataMapper/Field.hpp
  src/Lightweight/DataMapper/QueryBuilders.hpp
  src/Lightweight/SqlQuery/Core.hpp
  src/Lightweight/Utils.hpp
  src/tests/CoreTests.cpp
  src/tests/DataMapper/Entities.hpp
  src/tests/DataMapper/MiscTests.cpp
  src/tests/DataMapper/NamingTests.cpp
  src/tests/DataMapper/ReadTests.cpp
  src/tests/DataMapper/RelationTests.cpp
  src/tests/QueryBuilderTests.cpp
  src/tests/Utils.hpp
Labels: Data Mapper, Query Builder, tests, Core API
