Repository LASTRADA-Software/Lightweight, pull requests merged in 2025-01, with the labels that each got.

#167 Adds check to avoid merging branches containing `TODO(pr)` comments
  .github/workflows/build.yml
  scripts/check-pr-todos.sh
  src/Lightweight/DataBinder/MFCStringLike.hpp
  src/Lightweight/DataBinder/SqlBinary.hpp
  src/Lightweight/SqlMigration.cpp
Labels: CI pipeline, Data Binder, Core API

#166 Implement CollectDifferences
  src/Lightweight/DataMapper/CollectDifferences.hpp
  src/Lightweight/DataMapper/DataMapper.hpp
  src/tests/DataMapperTests.cpp
Labels: Data Mapper, tests

#173 SqlTransaction: Add access to SqlConnection& via Connection(); also improve documentation and an overall improvement
  src/Lightweight/SqlTransaction.cpp
  src/Lightweight/SqlTransaction.hpp
Labels: Core API

#175 Fix WhereNull() and WhereNotNull() clauses and add tests for it
  src/Lightweight/SqlQuery/Core.hpp
  src/tests/QueryBuilderTests.cpp
Labels: Query Builder, tests

#177 DataMapper: Allow passing a classic (non-Field<>'ed members) struct to `QuerySingle<>`
  src/Lightweight/DataBinder/BasicStringBinder.hpp
  src/Lightweight/DataMapper/DataMapper.hpp
  src/Lightweight/DataMapper/Field.hpp
  src/tests/DataMapperTests.cpp
Labels: Data Mapper, tests, Data Binder

#178 Add support for std::u8string and std::u8string_view
  docs/best-practices.md
  docs/sqlquery.md
  docs/usage.md
  src/Lightweight/DataBinder/BasicStringBinder.hpp
  src/Lightweight/DataBinder/StdStringView.hpp
  src/tests/DataBinderTests.cpp
  src/tests/DataMapperTests.cpp
  src/tests/Utils.hpp
Labels: documentation, tests, Data Binder

#181 Code cleanups
  .github/workflows/build.yml
  src/Lightweight/QueryFormatter/OracleFormatter.hpp
  src/Lightweight/QueryFormatter/PostgreSqlFormatter.hpp
  src/Lightweight/QueryFormatter/SQLiteFormatter.hpp
  src/Lightweight/QueryFormatter/SqlServerFormatter.hpp
  src/Lightweight/SqlColumnTypeDefinitions.hpp
  src/Lightweight/SqlQuery/MigrationPlan.hpp
  src/Lightweight/SqlSchema.cpp
  src/Lightweight/SqlSchema.hpp
  src/Lightweight/SqlTraits.hpp
  src/tests/DataMapperTests.cpp
  src/tools/ddl2cpp.cpp
  src/tools/test.sh
  src/tools/tests/1.expected
  src/tools/tests/2.expected
  src/tools/tests/3.expected
Labels: CI pipeline, CLI, ddl2cpp, Query Builder, tests, Core API, Query Formatter

#186 code cleanups, including dropping SqlTraits (not needed anymore)
  src/Lightweight/CMakeLists.txt
  src/Lightweight/DataBinder/Core.hpp
  src/Lightweight/SqlConnection.hpp
  src/Lightweight/SqlQuery/Migrate.cpp
  src/Lightweight/SqlQuery/Migrate.hpp
  src/Lightweight/SqlQueryFormatter.hpp
  src/Lightweight/SqlSchema.hpp
  src/Lightweight/SqlServerType.hpp
  src/Lightweight/SqlStatement.hpp
  src/Lightweight/SqlTraits.hpp
  src/benchmark/benchmark.cpp
  src/tools/ddl2cpp.cpp
Labels: CLI, ddl2cpp, Query Builder, Data Binder, benchmark, Core API, Query Formatter

#187 Add support for aggregate function calls in SELECT query builder
  src/Lightweight/SqlQuery/Select.cpp
  src/Lightweight/SqlQuery/Select.hpp
  src/tests/QueryBuilderTests.cpp
Labels: Query Builder, tests

#188 Rename ddl2cpp expected-files to have nice syntax highlighting when viewing them :)
  src/tools/test.sh
  src/tools/tests/1.expected.cpp
  src/tools/tests/2.expected.cpp
  src/tools/tests/3.expected.cpp
Labels: CLI, tests

#192 Ensure DataMapper works with models within a namespace
  src/Lightweight/Utils.hpp
  src/tests/DataMapperTests.cpp
Labels: tests, Core API

#193 DataMapper: add ctor for passing SqlConnectionString and have a test for it
  src/Lightweight/DataMapper/DataMapper.hpp
  src/tests/DataMapperTests.cpp
Labels: Data Mapper, tests
