Repository LASTRADA-Software/Lightweight, pull requests merged in 2025-09, with the labels that each got.

#351 Add alias for SqlWideTrimmedFixedString
  src/Lightweight/DataBinder/SqlFixedString.hpp
  src/tests/DataBinderTests.cpp
Labels: tests, Data Binder

#356 Adds `NowUTC` api to sql date time
  src/Lightweight/DataBinder/SqlDateTime.hpp
Labels: Data Binder

#355 Update `Query` functions to check if we can bind values
  src/Lightweight/DataMapper/DataMapper.hpp
  src/Lightweight/DataMapper/QueryBuilders.hpp
  src/tests/DataMapper/MiscTests.cpp
  src/tests/DataMapper/ReadTests.cpp
Labels: Data Mapper, tests

#354 Rename QuotedFieldName into FullyQualifiedName
  src/Lightweight/DataMapper/QueryBuilders.hpp
  src/Lightweight/Utils.hpp
  src/tests/CoreTests.cpp
  src/tests/DataMapper/NamingTests.cpp
Labels: Data Mapper, tests, Core API

#357 Do not std::move() error info when throwing to improve debugging expe…
  src/Lightweight/SqlConnection.cpp
  src/Lightweight/SqlStatement.cpp
  src/Lightweight/Utils.cpp
Labels: Core API

#358 Add some documentation in the readme and create new file how-to.md
  README.md
  docs/CMakeLists.txt
  docs/how-to.md
  src/tests/DataMapper/ReadTests.cpp
Labels: documentation, tests

#364 Add SqlDateTime decomposition into date and time
  src/Lightweight/DataBinder/SqlDateTime.hpp
  src/tests/CoreTests.cpp
Labels: tests, Data Binder
